@font-face {
  font-family: "Baton Turbo";
  src: url("./assets/fonts/Baton_Turbo_Regular.otf");
}

body {
  font-family: "Baton Turbo";
  margin: 0;
  height: 100vh;
}

.title {
  font-size: 150%;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.6em;
  width: 18em;
  border-radius: 2px;
  font-size: 70%;
}

.arrow-text {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .first-slot {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .div-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img_lp_personal_shopping {
    width: 100%;
  }

  .content {
    width: 90%;
  }

  .arrow {
    margin-top: 30px;
  }

  .card-01, .card-02, .card-03 {
    border: solid lime 1px;
  }
}

@media screen and (min-width: 768px) {
  .image:nth-child(1) {
    display: none;
  }

  .image:nth-child(2) {
    content: url("assets/images/floating-bar.png");
  }

  .image:nth-child(3) {
    content: url("assets/images/NavBar_web.png");
  }

  .first-slot {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .div-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "image ."
      "image ."
      "image content"
      "image button"
      "image arrow";
  }

  .img_lp_personal_shopping {
    grid-area: image;
  }

  .title {
    grid-area: content;
    font-size: 150%;
  }

  .content {
    grid-area: content;
    align-self: end;
    justify-self: center;
    width: 55%;
    font-size: 90%;
  }

  .button {
    grid-area: button;
    justify-self: center;
    height: 30%;
  }

  .arrow {
    grid-area: arrow;
    align-self: start;
  }
}
