/** GLOBAL **/

@font-face {
  font-family: "Baton Turbo";
  src: url("./assets/fonts/Baton_Turbo_Regular.otf");
}

body {
  font-family: "Baton Turbo";
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/** FIRST SLOT **/

.title {
  font-size: 150%;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.6em;
  width: 18em;
  border-radius: 2px;
  font-size: 70%;
  cursor: pointer; 
}

.arrow-text {
  padding: 10px;
}

/** SECOND SLOT **/

.card-01,
.card-02,
.card-03 {
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

.card-01 {
  background-color: #ffec85;
}

.card-02 {
  background-color: #ffaea3;
}

.card-03 {
  background-color: #fad7e5;
}

.card-logo {
  width: 10%;
}

.rdv-text {
  font-size: 60%;
}

.card-button {
  border: black solid 1px;
  background: none;
  border-radius: 3px;
  font-size: 70%;
  padding: 8px 30px;
  cursor: pointer; 
}

/** THIRD SLOT **/

.content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  font-size: 200%;
  margin-right: 20px;
}

/** FOURTH SLOT **/

.title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.qa-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.qa-content.visible {
  max-height: 200px;
}

.open-close-arrow {
  background: none;
  border: none;
  cursor: pointer; 

}

/** MOBILE **/

@media screen and (max-width: 768px) {
  /** FIRST SLOT **/

  .first-slot {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .div-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img_lp_personal_shopping {
    width: 100%;
  }

  .content {
    width: 90%;
  }

  .arrow {
    margin-top: 30px;
  }

  /** SECOND SLOT **/

  .second-slot-title {
    margin-left: 20px;
  }

  .controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 40%;
  }

  .controls > button {
    border: none;
    background: none;
    font-size: 200%;
  }

  /** THIRD SLOT **/

  .third-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .third-slot-image {
    width: 100%;
  }

  .third-slot-content {
    background-color: #fad7e5;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    justify-content: center;
  }

  .third-slot-title {
    text-align: center;
  }

  .content-row {
    display: flex;
    height: 5em;
  }

  .card-01, .card-02, .card-03 {
    height: 430px 
  }

  /** FOURTH SLOT **/

  .fourth-slot {
    margin: 0 20px;
  }

  .fourth-slot-title {
    width: 70%;
    font-size: 120%;
    margin: 30px 0 30px 0;
  }

  .qa-title {
    font-size: 90%;
    width: 70%;
    margin: 0;
  }

  .qa-content {
    font-size: 80%;
    width: 75%;
  }
}

/** DESKTOP **/

@media screen and (min-width: 768px) {
  /** FIRST SLOT **/

  .image:nth-child(1) {
    display: none;
  }

  .image:nth-child(2) {
    content: url("assets/images/floating-bar.png");
  }

  .image:nth-child(3) {
    content: url("assets/images/NavBar_web.png");
  }

  .first-slot {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .div-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "image ."
      "image ."
      "image content"
      "image button"
      "image arrow";
  }

  .img_lp_personal_shopping {
    grid-area: image;
  }

  .title {
    grid-area: content;
    font-size: 150%;
  }

  .content {
    grid-area: content;
    align-self: end;
    justify-self: center;
    width: 55%;
    font-size: 90%;
  }

  .button {
    grid-area: button;
    justify-self: center;
    height: 30%;
  }

  .arrow {
    grid-area: arrow;
    align-self: center;
  }

  /** SECOND SLOT **/

  .second-slot-desk {
    margin: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .second-slot-title {
    margin-left: 30px;
  }

  .cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card-01,
  .card-02,
  .card-03 {
    width: 30%;
  }

  /** THIRD SLOT **/

  .third-slot {
    display: flex;
    flex-direction: row-reverse;
    height: 70%;
  }

  .third-slot-image {
    object-fit: cover;
    flex: 1;
    max-width: 100%;
    height: 100%;
  }

  .third-slot-content {
    height: 100%;
    background-color: #fad7e5;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .third-slot-title {
    text-align: center;
    font-size: 200%;
    padding-top: 20px;
  }

  .content-row {
    display: flex;
    flex-direction: row;
    height: 10%;
    margin: 1% 0;
    width: 80%;
  }

  /** FOURTH SLOT **/

  .fourth-slot {
    padding: 30px 0 50px 50px;
  }

  .fourth-slot-title {
    width: 80%;
    font-size: 150%;
    margin: 0 0 20px 0;
  }

  .qa-title {
    font-size: 90%;
    width: 70%;
    margin: 5px 0;
  }

  .qa-content {
    font-size: 80%;
    width: 75%;
    margin: 0;
  }

  .open-close-arrow {
    margin-right: 30px;
  }
}
